{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css"/>
</head>
<body>
<div class="topnav">
  <a href="videoclub">Videoclub</a>
  <a href="empleados">Empleados</a>
  <a  href="peliculas">Peliculas</a>
  <a class="active" href="clientes">Clientes</a>
</div>
  <h1 style="text-align: center">Clientes</h1>
    <ul>
        {% for cliente in clientes %}
                <a href="/{{ cliente.idCliente }}" style=""> <h3> {{ cliente.nombre }}</h3> {{ cliente.apellidos }}</a>
        {% endfor %}
    </ul>
</body>
</html>