{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peliculas</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css"/>
</head>
<body>
<div class="topnav">
  <a href="videoclub">Videoclub</a>
  <a href="empleados">Empleados</a>
  <a class="active" href="peliculas">Peliculas</a>
  <a href="clientes">Clientes</a>
</div>
  <h1 style="text-align: center">Peliculas</h1>
    <ul>
        {% for pelicula in peliculas %}
                <a href="/{{ pelicula.idPelicula }}" style=""> <h3>Titulo: {{ pelicula.nombre }}</h3>
                Genero: {{ pelicula.genero }}  Duración: {{ pelicula.duracion }}
                Fechas de lanzamiento: {{ pelicula.fecha_de_lanzamiento }} Videoclub: {{ pelicula.idVideoclub }}</a>
        {% endfor %}
    </ul>
</body>
</html>